<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

</head>

<body id="">

  <% include ../partials/nav.ejs %>

    <div class="container">
      <div class="topDeck">
        <div class="logo">
          <h1>Admin Page</h1>
        </div>
      </div>
      <div class="gallery">
        <ul>
          <!-- Repeat the following <li> structure for every image -->
          
          <!-- End Repeat -->
        </ul>
      </div>
    </div>
    <script src="../js/photogrid_utils.js"></script>
    <script src="../js/bundle.js"></script>
    <script>
      var host = window.location.host;
      if(window.location.host == 'localhost:5000'){
        host = 'http://'+window.location.host;
      }else{
        host = 'https://aqueous-tor-85020.herokuapp.com'
      }
      var socket = io(host);

      socket.on('status', function (data) {
        showStatus(data.msg, data.delay);
      })

      socket.on('doUpdate', function () {
        renderList();
      })

      $(document).on('click', '#doUpload', function () {
        uploadNow();
      })

      function uploadNow() {
        $('.progress').fadeIn(100);
        var uploadURL = host + '/upload';
        var uploadFile = $('.uploadPic');
        if (uploadFile.val() != '') {
          var form = new FormData();
          form.append("upload", uploadFile[0].files[0]);
          // Perform the AJAX POST request and send the file
          ajax({
            method: 'post',
            url: uploadURL,
            success: function () {
              $('.progress').fadeOut(200);
              uploadFile.val('');
            },
            progress: function (e) {
              if (e.lengthComputable) {
                var perc = Math.round((e.loaded * 100) / e.total);
                $('.progress').css('width', (perc + '%'));
              }
            },
            payload: form
          })
        }
      }

      function renderList() {
				$('.gallery ul').html('');
				ajax({
					url: host + '/getimages/',
					success: function (data) {
						var imageList = JSON.parse(data.response);
						for (var i = 0; i < imageList.length; i++) {
                            var str = '<li>';
                            str += '<a class="btn btn-lg btn-primary delete" href="javascript:void(0)" role="button" data-photoid="'+ imageList[i]._id +'">delete</a>'
							str += '<div class="">';
							str += '<img src="https://s3.amazonaws.com/photogrid646/' + imageList[i].filename + '" alt="">';
                            str += '</div>';
                            str += '</li>';
							$('.gallery ul').append(str);
						}
					}
				});
			}

      renderList();
      
      $(document).on('click', '.delete', function (e) {
                var that = $(this);
                console.log(that.data('photoid'))
				ajax({
					url: host + '/delete/' + that.data('photoid'),
					success: function (data) {
                        console.log('Item was deleted!!');
                        that.renderList();
					}
				});
			});
    </script>
</body>
</html>