<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

</head>

<body id="">

  <% include ../partials/nav.ejs %>

    <div class="container">
      This is the comments page. + <%= id %>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>