<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

</head>

<body id="">

  <% include ../partials/nav.ejs %>

    <div class="container comments">
      <div class="row">
        <div class="col-md-6 photocard">
            This is the photo for id =
            <%= id %>
        </div>
        <div class="col-md-6">
            This is the comments page for id =
            <%= id %>
          </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>

</html>