<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

</head>

<body id="">

  <% include ../partials/nav.ejs %>

    <div class="container comments">
      <div class="row">
        <div class="col-md-6 photocard">
          </div>
        <div class="col-md-6">
           <ul class="messages">
           </ul>
           <input class="form-control inputMessage" placeholder="Add Comment">
          </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>

</html>