<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

</head>

<body id="">

  <% include ../partials/nav.ejs %>

    <div class="container gallery">
      <div class="topDeck">
        <div class="controls">
          <input type="file" name="uploadPic" class="uploadPic">
          <button id="doUpload">Upload</button>
          <div class="progressBarDiv">
            <div class="progress"></div>
          </div>
          <h5 class="status"></h5>
        </div>
      </div>
      <div class="gallery">
        <div class="row">
          <!-- Repeat the following <li> structure for every image -->
          
          <!-- End Repeat -->
          </div>
      </div>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>