<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>

</head>

<body id="">

  <% include ../partials/nav.ejs %>

    <div class="container">
      <div class="topDeck">
        <div class="logo">
          <h1>PhotoGRID</h1>
        </div>
        <div class="controls">
          <input type="file" name="uploadPic" class="uploadPic">
          <button id="doUpload">Upload</button>
          <div class="progressBarDiv">
            <div class="progress"></div>
          </div>
          <h5 class="status"></h5>
        </div>
      </div>
      <div class="gallery">
        <ul>
          <!-- Repeat the following <li> structure for every image -->
          
          <!-- End Repeat -->
        </ul>
      </div>
    </div>
    <script src="../js/bundle.js"></script>
</body>
</html>